AccessControl==4.1
Acquisition==4.6
ansible-vault==1.2.0
asn1crypto==1.1.0
attrs==19.3.0
AuthEncoding==4.1
autoflake==1.3.1
Automat==0.7.0
beautifulsoup4==4.8.1
black==19.3b0
boto3==1.9.249
botocore==1.12.249
BTrees==4.6.0
certifi==2019.9.11
cffi==1.13.0
Chameleon==3.6.2
chardet==3.0.4
constantly==15.1.0
cryptography==3.2
cssselect==1.1.0
DateTime==4.3
DocumentTemplate==3.1b2
docutils==0.15.2
environs==6.0.0
ExtensionClass==4.4
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
isort==4.3.21
jmespath==0.9.4
lockfile==0.12.2
luigi==2.8.9
lxml==4.4.1
marshmallow==3.2.1
MultiMapping==4.1
numpy==1.17.2
pandas==0.25.1
parsel==1.5.2
PasteDeploy==2.0.1
Persistence==3.0
persistent==4.5.0
pyasn1==0.4.7
pyasn1-modules==0.2.7
pycparser==2.19
PyDispatcher==2.0.5
PyHamcrest==1.9.0
pyOpenSSL==19.0.0
pytest==5.2.2
pytest-cov==2.8.1
python-daemon==2.1.2
python-dateutil==2.8.0
python-dotenv==0.10.3
python-gettext==4.0
pytz==2019.3
queuelib==1.5.0
requests==2.22.0
RestrictedPython==5.0
roman==3.2
s3transfer==0.2.1
Scrapy==1.7.3
service-identity==18.1.0
six==1.12.0
soupsieve==1.9.4
tabulate==0.8.5
tornado==5.1.1
transaction==2.4.0
Twisted==20.3.0
urllib3==1.25.6
w3lib==1.21.0
waitress==1.4.3
WebOb==1.8.5
WebTest==2.0.33
WSGIProxy2==0.4.6
z3c.pt==3.2.0
zc.lockfile==2.0
ZConfig==3.5.0
zExceptions==4.1
ZODB==5.5.1
zodbpickle==1.0.4
Zope==4.1.2
zope.annotation==4.7.0
zope.browser==2.3
zope.browsermenu==4.4
zope.browserpage==4.4.0
zope.browserresource==4.3
zope.cachedescriptors==4.3.1
zope.component==4.5
zope.configuration==4.3.1
zope.container==4.2.2
zope.contentprovider==4.2.1
zope.contenttype==4.4
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.dottedname==4.3
zope.event==4.4
zope.exceptions==4.3
zope.filerepresentation==4.2.0
zope.globalrequest==1.5
zope.hookable==4.2.0
zope.i18n==4.7.0
zope.i18nmessageid==4.3.1
zope.interface==4.6.0
zope.lifecycleevent==4.3
zope.location==4.2
zope.pagetemplate==4.4.1
zope.processlifetime==2.3.0
zope.proxy==4.3.2
zope.ptresource==4.2.0
zope.publisher==5.1.1
zope.schema==4.9.3
zope.security==4.3.1
zope.sequencesort==4.1.2
zope.site==4.2.2
zope.size==4.3
zope.structuredtext==4.3
zope.tal==4.4
zope.tales==5.0.1
zope.testbrowser==5.3.3
zope.testing==4.7
zope.traversing==4.3.1
zope.viewlet==4.2.1
